<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
	 <session-factory>
	    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/prova</property>
        <!-- property name="connection.username">kim</property>
        <property name="connection.password">linda</property -->
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
	 
        <!-- Disable second-level cache. -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="cache.use_query_cache">false</property>
        <property name="cache.use_minimal_puts">false</property>
        <property name="max_fetch_depth">3</property>
    
        <!-- Print SQL to stdout. -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>
    
        <!-- Drop and then re-create schema on SessionFactory build, for testing. -->
        <!-- property name="hbm2ddl.auto">create</property -->
    
        <!-- Bind the getCurrentSession() method to the thread. -->
        <!-- property name="current_session_context_class">thread</property-->

        <!-- Hibernate XML mapping files -->
        <mapping resource="ca/hibernate/Mappings/Visitas.hbm.xml" />
        <mapping resource="ca/hibernate/Mappings/Images.hbm.xml" />
        <mapping resource="ca/hibernate/Mappings/Obra.hbm.xml" />        
        <mapping resource="ca/hibernate/Mappings/Noticia.hbm.xml" />  
        <mapping resource="ca/hibernate/Mappings/Pdf.hbm.xml" />    
        <!-- Hibernate Annotations (and package-info.java)
        <mapping package="org.mypackage"/>
        <mapping class="org.MyClass/>
        -->

       
    </session-factory>
</hibernate-configuration>
